In [1]:
%load_ext autoreload
%autoreload 2

import os

from phasesim import *

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
parse_heartbeats("data/test.txt")

,instructions,cycles,heartbeat_ipc,cumulative_ipc,hours,minutes,seconds
0,1000000,533601,1.874060,1.874060,0,0,4
1,2000000,1046321,1.950380,1.911460,0,0,7
2,3000003,1584709,1.857400,1.893090,0,0,10
3,4000001,2098715,1.945500,1.905930,0,0,14
4,5000000,2675092,1.734970,1.869090,0,0,16
5,6000000,3222376,1.827200,1.861980,0,0,19
6,7000001,3735121,1.950290,1.874100,0,0,22
7,8000003,4273433,1.857660,1.872030,0,0,25
8,9000001,4781503,1.968230,1.882250,0,0,29
9,10000003,5310698,1.889670,1.882990,0,0,32
10,11000000,6755854,0.691965,0.691965,0,0,37
11,12000000,8211075,0.687181,0.689564,0,0,42
12,13000001,9653700,0.693182,0.690766,0,0,47
13,14000000,11106293,0.688423,0.690179,0,0,53
14,15000000,12557067,0.689287,0.690000,0,0,58
15,16000000,13865295,0.764393,0.701377,0,1,3
16,17000002,15096237,0.812388,0.715341,0,1,8
17,18000000,16330720,0.810054,0.725951,0,1,13
18,19000003,17564821,0.810309,0.734447,0,1,18
19,20000003,18803866,0.807073,0.741116,0,1,23

In [3]:
parse_telemetry("data/test.txt", "CPIPhaseDetector", columns=["new", "delta", "curr_cpi", "prev_cpi"])

Found 20 entries

    new     delta  curr_cpi  prev_cpi
0     1       inf  0.533523  0.000000
1     1  0.038855  0.512793  0.533523
2     1  0.049792  0.538326  0.512793
3     1  0.045177  0.514006  0.538326
4     1  0.121427  0.576420  0.514006
5     1  0.050727  0.547180  0.576420
6     1  0.062895  0.512765  0.547180
7     1  0.049873  0.538338  0.512765
8     1  0.056366  0.507994  0.538338
9     1  0.041853  0.529255  0.507994
10    1  1.730080  1.444910  0.529255
11    0  0.007204  1.455310  1.444910
12    0  0.008660  1.442710  1.455310
13    0  0.006845  1.452590  1.442710
14    0  0.001352  1.450620  1.452590
15    1  0.098178  1.308200  1.450620
16    1  0.058817  1.231260  1.308200
17    0  0.002228  1.234000  1.231260
18    0  0.000079  1.234100  1.234000
19    0  0.004033  1.239080  1.234100

In [11]:
dfs = parse_phases("data/test.txt")

Parsing CPIPhaseDetector
Found 20 entries
Parsing IWSPhaseDetector
Found 20 entries
Parsing BCPhaseDetector
Found 20 entries

In [12]:
compute(dfs)

,num_stable,num_phases,avg_length,num_changed,num_unchanged,num_tp,num_tn,num_fp,num_fn,sensitivity,false_positive
CPIPhaseDetector,9,2,4.5,13,7,13,7,0,0,1.0,0.000000
IWSPhaseDetector,4,1,4.0,13,7,13,3,4,0,1.0,0.571429
BCPhaseDetector,0,0,0.0,13,7,13,0,7,0,1.0,1.000000

In [13]:
dfs = parse_phases("data/test.txt", output_df=True)

Parsing CPIPhaseDetector
Found 20 entries
Parsing IWSPhaseDetector
Found 20 entries
Parsing BCPhaseDetector
Found 20 entries

In [14]:
dfs

    BCPhaseDetector  CPIPhaseDetector  IWSPhaseDetector
0               1.0               1.0               1.0
1               1.0               1.0               1.0
2               1.0               1.0               1.0
3               1.0               1.0               1.0
4               1.0               1.0               1.0
5               1.0               1.0               1.0
6               1.0               1.0               1.0
7               1.0               1.0               1.0
8               1.0               1.0               1.0
9               1.0               1.0               1.0
10              1.0               1.0               1.0
11              1.0               0.0               1.0
12              1.0               0.0               1.0
13              1.0               0.0               1.0
14              1.0               0.0               1.0
15              1.0               1.0               1.0
16              1.0               1.0               1.0
17              1.0               0.0               0.0
18              1.0               0.0               0.0
19              1.0               0.0               0.0